.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}

.App-header {
  padding: 20px;
}

h1 {
  font-size: 2em;
}

.App-button {
  display: inline-block;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.WaitlistForm {
   margin-bottom: 20px;
   width: auto; /* Adjust this value to match your image's width */
   display: block; /* This will allow the form to be on its own line */
}

.EmailInput {
   width: auto; /* Adjust this value to match your image's width */
   padding: .375rem .75rem;
   font-size: 1rem;
   line-height: 1.5;
   color: #495057;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid #ced4da;
   border-radius: .25rem;

   /* Add some fancy box-shadow */
   box-shadow:0px 0px 5px rgba(66,66,66,.75);
}

.SubmitButton {
   color: #fff;
   background-color: #007bff;
   border-color: #007bff;

   /* Add some fancy box-shadow */
   box-shadow:0px 0px 5px rgba(66,66,66,.75);
}

.SubmitButton:hover {
   color: #fff;
   background-color: #0069d9; /* Darker blue */
}

.FunnyImage {
   max-width:auto; /* Adjust this value to match your image's width */
}
